body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    height: 3000px;
  }
.headbar {
    background-color: rgb(111, 109, 106);
    color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    right:0;
    
}

.nav {    
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav li {
    display: inline;
    margin: center;
}
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
.strednybar{
    margin: 70px;
    position: absolute;
    z-index: 3;
    margin-left:250px ;
    margin-top: 270px;

}
.napis{
    width: 300px;
    height: 60px;
    align-items:left;
}
.obdlznikuvod{
    width: 1600px;
    height: 400px;
    background-color: black;
    position: relative;
    
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin-top: 200px;
    text-align: center;
    z-index: 1;
    
    
  
}
.Nadpis01{
    margin-top: -80px;
}
.Bankok{
    position:absolute;
    z-index: 2;
    margin-top: -200px;
    width: 900px;
    height:100px;
    padding-bottom: 5% ;

}
.HlavnyNadpis{
    z-index: 4;
    position:absolute;
    color: rgb(255, 255, 255);
    margin-left:500px ;
    margin-top: 30px;
    font-size: 50px;
}
.kontinent{
    font-size:large;
}
/* Začiatok Europa */
.button button {
    padding: 10px;
    border: none;
    background-image: url(https://www.zicasso.com/static/9688b7d0ca5646c9ffbf147194b7e30c/6d821/9688b7d0ca5646c9ffbf147194b7e30c.jpg);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    width: 700px;
    height: 400px;
    margin-left: 25px;
    position: absolute;
    flex-direction: column;
    float: left;
}
.vpravoe{
    float: right;
    margin-right: 100px;
    display: flex;
}

/* Koniec Europa */



/* Začiatok Afrika */
.button1 button {
    padding: 10px;
    border: none;
    background-image: url(https://i.pinimg.com/736x/43/57/99/43579929147f7b8560c2fc08ce7e0ad7.jpg);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    width: 700px;
    height: 400px;
    margin-left: 25px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
    float: left;
}
.vpravoa{
    float: right;
    margin-top: 500px;
    flex-direction: column;
    margin-right: 100px;
}

/* Koniec Afrika */



/* Začiatok Azia */
.button2 button {
    padding: 10px;
    border: none;
    background-image: url(https://media.licdn.com/dms/image/v2/D5612AQGVPCALP-ebtw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1706180416069?e=2147483647&v=beta&t=lmdh5ad_nOOlNbpr43dBtWCPbw34RW74KpX_Tkyvm6A);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    width: 700px;
    height: 400px;
    float: left;
    margin-left: 25px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px;
    
}
.vpravoaz{
    float: right;
    margin-top: 1000px;
    flex-direction: column;
}
/* Koniec Azia */

/* Začiatok Australie a Oceanie */
.button3 button {
    padding: 10px;
    border: none;
    background-image: url(https://reisreporter.be/wp-content/uploads/2016/09/Australi%C3%AB.jpg);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    width: 700px;
    height: 400px;
    float: left;
    margin-left: 25px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin-top: 1500px;
    
}
.vpravoao{
    float: right;
    margin-top: 1500px;
    flex-direction: column;
}
/* Koniec Australie a Oceanie */

/* zaciatok Amerika */
.button4 button {
    padding: 10px;
    border: none;
    background-image: url(https://dcontent.inviacdn.net/shared/img/web-830/2017/6/28/m0/408607.jpg);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    width: 700px;
    height: 400px;
    float: left;
    margin-left: 25px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin-top: 2000px;
}
.vpravoa{
    float: right;
    margin-top: 2000px;
    flex-direction: column;
}
/* Koniec Amerika */





  
  







