body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    height: 3000px;
  }
.headbar {
    background-color: rgb(111, 109, 106);
    color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    right:0;
    
}

.nav {    
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav li {
    display: inline;
    margin: center;
}
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
.strednybar{
    margin: 70px;
    position: absolute;
    z-index: 3;
    margin-left:250px ;
    margin-top: 270px;

}
.napis{
    width: 300px;
    height: 60px;
    align-items:left;
}
.obdlznikuvod{
    width: 1600px;
    height: 400px;
    background-color: black;
    position: relative;
    
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin-top: 200px;
    text-align: center;
    z-index: 1;
    
    
  
}
.Nadpis01{
    margin-top: -80px;
}
.Bankok{
    position:absolute;
    z-index: 2;
    margin-top: -200px;
    width: 900px;
    height:100px;

}
.HlavnyNadpis{
    z-index: 4;
    position:absolute;
    color: rgb(255, 255, 255);
    margin-left:500px ;
    margin-top: 30px;
    font-size: 50px;
}
.dovolenky{
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.dovolenky img {
    max-width: 100%;
    border-radius: 5px;
}
.letenky01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: -30px;

}
.nadpis01{
    margin-top: -125px;
}
.Afrika{
    width: 100%;
    height: 100%;
    background-image: url(https://3y5rx2.5gcdn.net/ext/resize_2600x1700q_70,auto?src=https%3A%2F%2Fbubo.sk%2Fuploads%2Fgalleries%2F7493%2Fshutterstock_jar_kapskemesto_429673480.jpg%3Fmd%3D41a0dae2d60194ea591243b590c782da);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;
}
.Azia{
    width: 100%;
    height: 100%;
    background-image: url(https://img.topky.sk/cestovky/big/2513719.jpg/hora-Japonsko-Azia-Tokio.jpg);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;
}
.AustraliaOceania{
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROBoUR73O33WddAMjlDaMdbfZ-2YU8THXXRCIvBUCahEN44xeO4d4uGJ2F4BAJW6YrsQk&usqp=CAU);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;

}
.S.Amerika{
    width: 100%;
    height: 100%;
    background-image: url(https://342ae7b265.clvaw-cdnwnd.com/7487cdae0ac9aaf4c3251b8d6e3c08d6/200000059-ef86bef86d/Guatemala-3.jpg?ph=342ae7b265);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;
}
.J.Amerika{
    width: 100%;
    height: 100%;
    background-image: url(https://www.satur.sk/media/cache/1920x675/page/2395_6481e3db8deb2.jpeg);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;
}








   
     
   


